/**
 * NukeViet Content Management System
 * @version 4.x
 * @author VINADES.,JSC <contact@vinades.vn>
 * @copyright (C) 2009-2021 VINADES.,JSC. All rights reserved
 * @license GNU/GPL version 2 or any later version
 * @see https://github.com/nukeviet The NukeViet CMS GitHub project
 */

.setting-tabcontent {
    margin: 0 0 15px 0;
}

.setting-tabcontenttop {
    margin-top: 15px;
}

.setting-tabnav > li.active > a,
.setting-tabnav > li.active > a:hover,
.setting-tabnav > li.active > a:focus {
    background-color: #f9f9f9 !important;
}

.setting-tabcontent .table-first,
.setting-tabcontent .table-first tbody tr:first-child td,
.setting-tabcontent .table-first tbody tr:first-child th {
    border-top: 0 !important;
}

.form-text {
    display: block;
    margin-top: 5px;
}

.cron_code {
    background-color: #f5f5f5;
    color:crimson;
    border: 1px solid #ccc;
    display: block;
    padding: 5px 8px;
    overflow-x: auto;
}
